.Input{
    border: 1px solid gray;
    border-radius: 35px;
    width: 23rem;
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .Input{
        border: 1px solid gray;
        border-radius: 35px;
        width: 11.5rem;
    }
}

@media screen and (min-width:300px) and (max-width:767px) {
    .Input{
        border: 1px solid gray;
        border-radius: 35px;
        width: 12.5rem;
    }
}


@media screen and (min-width:1024px) and (max-width:1279px) {
    .Input{
        border: 1px solid gray;
        border-radius: 35px;
        width: 18rem;
    }
}

@media screen and (min-width:1280px) and (max-width:1439px) {
    .Input{
        border: 1px solid gray;
        border-radius: 35px;
        width: 21rem;
    }
}